.navigationBar_after{
  height: 99px;
  display: flex;
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
  justify-content: space-between;
  align-self: center;
}

.logoPicture{
  height: 70%;
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.menuElements{
  display: flex;
  width: 40%;
  justify-content: space-around;
  list-style: none;
  font-size: 22px;
}

*{
  text-decoration: none;
}
