.wrapperSignIn{
  display: flex;
  justify-content: space-between;
  padding-left: 200px;
}
  
.wrapperformEnter{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.wrapperSignInBack{
  background-image: url(./assets/bg.svg);
  background-repeat: no-repeat;
  background-size: 640px;
  height: 200px;
}

.inputSignIn{
  width: 400px;
  margin: 0px 130px ;
  background: #D8D8D8 0.2;
  }

.titleSignIn{
  font-size: 30px;
  font-style: bold;
  margin-bottom: 20px;
  margin-left: 295px;
}

.buttonSignIn{
  margin-top: 20px;
  border-radius: 8px;
  background: #FF5252;
  font-weight: bold;
  margin-left: 270px;
}

.buttonSignIn:hover{
  background: #FF5252;
}