.startPage{
  display: flex;
  align-items: center;
  margin: 0px 60px;
}

.rightPartMainPage{
  height: 320px;
  padding-right: 50px;
}

.leftPartMainPage{
  padding-top: 10px;
  padding-left: 20px;
  width: 800px;
}

.leftPartMainPage p{
  color: #969696;
  opacity: 54%;
  font-size: 24px;
  font-weight: bold;
  padding-top: 70px;
}

.PartSentences{
  color: #969696;
  opacity: 54%;
  font-size: 42px;
  font-weight: bold;
}

.SecondPartSentences{
  color: #080b27;
  font-size: 42px;
  font-weight: bold;
}

.AppleGoogleIcon{
  display: flex;
  padding-top: 60px;
  justify-content: space-between;
  width: 340px;
  cursor: pointer;
}
