.wrapperPageRegistaration{
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapperformRegistaration{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 120px;
}

.inputSignUp{
  display: flex;
  width: 300px;
  margin: 0px;
  flex-direction: column;
  margin-bottom: 20px;
  }

.titleSignUp{
  font-size: 30px;
  margin-bottom: 20px;
}

.buttonSignUp{
  margin-top: 5px;
  border-radius: 8px;
  background: #FF5252;
  font-weight: bold;
  color:  #080b27;
}

.buttonSignUp:hover{
  background: #FF5252;
  color:  white;
}