.wrapperSignUp{
  display: flex;
  background: linear-gradient(to top, #ff5252 20%, #320b86 80%) no-repeat;
  background-size: 325px;
  height: 630px;
  }

.imageSignUp{
  height: 500px;
}

.wrapperformRegistaration{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.inputSignUp{
  width: 70%;
  margin: 0px 60px ;
  margin-bottom: 18px;
  background: #D8D8D8 0.2;
  }

.titleSignUp{
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.buttonSignUp{
  margin-top: 20px;
  border-radius: 20px;
  background: #FF5252;
  font-weight: bold;
}

.buttonSignUp:hover{
  background: #FF5252;
}