.navigationBar{
  height: 99px;
  display: flex;
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
  justify-content: space-between;
  align-self: center;
}

.logoPicture{
  height: 70%;
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.menuElements{
  display: flex;
  width: 40%;
  justify-content: space-around;
  list-style: none;
  font-size: 22px;
}

.navLink_main{
  color: #080B27;
  opacity: 87%;
  padding: 10px 20px;
}

.navLink_main:hover{
  color: #080B27;
  background-color: #5E2DE7;
  opacity: 100%;
  padding: 10px 20px;
  border-radius: 6px;
  box-shadow: 0 2px 10px 0px rgb(139, 139, 139);
}

.navLink_main.active{
  color: white;
  background-color: #5E2DE7;
  opacity: 100%;
  padding: 10px 20px;
  border-radius: 6px;
  box-shadow: 0 2px 10px 0px rgb(139, 139, 139);
}

*{
  text-decoration: none;
}

